<% sub.forEach(function(item) { %>
    <li>
        <a href="#<%- identifier(item.name); %>" class="toc-h<%- level %> toc-link" data-title="<%- buildTitle(tit, item.name) %>"><%- item.name %></a>
        <% if ('sub' in item) { %>
            <ul class="toc-list-h<%- level + 1 %>">
                <%- include('toc-menu', {level: level + 1, tit: level == 1 ? item.name : tit, sub: item.sub}); %>
            </ul>
        <% } %>
    </li>
<% }); %>

